!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => 'utf-8'}
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    <!-- Use title if it's in the page YAML frontmatter -->
    %title= data.page.title || "Marc Hess, Licensed therapist in Portland, Oregon"
    - if data.page.description
      %meta{:name => "description", :content => data.page.description}
    %meta{:name => "viewport", :content => "width=device-width"}

    %link{:href => 'http://fonts.googleapis.com/css?family=Rokkitt:400,700|Raleway:600', :rel => 'stylesheet',  :type => 'text/css'}
    %link{:rel => "stylesheet", :href => "css/normalize.css"}
    %link{:rel => "stylesheet", :href => "css/main.css"}
    %script{:src => "js/vendor/modernizr-2.6.1.min.js"}

  %body{:class => page_classes}
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>

    %header#primary_header
      %h1 Marc Hess, licensed therapist
      %h2 Individual counseling, couples counseling, anger management, and trauma counseling
      %nav#primary_navigation
        %ul
          %li.index
            %a{:href => '/'} Home
          %li.background
            %a{:href => '/background.html'} Background
          %li.new_clients
            %a{:href => '/new_clients.html'} New clients
          %li.contact
            %a{:href => '/contact.html'} Contact

    - if content_for?(:splash)
      #splash= yield_content(:splash)

    #primary_content= yield

    - if content_for?(:secondary_content)
      #secondary_content= yield_content(:secondary_content)

    #primary_footer
      %p All content Copyright &copy; #{Time.now.year}. Handmade in Portland, Oregon by <a href="http://foliosus.com">Foliosus Web Design</a>.

    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"}
    / %script{:src => "/js/vendor/jquery-1.8.0.min.js"}

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45185196-1', 'marcbhess.com');
      ga('send', 'pageview');
